.ivu-btn {
  outline: 0;
  box-shadow: none;
  height: 32px;
  line-height: 18px;
  &:active,
  &:focus,
  &:hover {
    color: var(--primaryColor);
    box-shadow: none;
  }
}
.ivu-btn-primary {
  background: var(--primaryColorLight);
  border-color: var(--primaryColorLight);
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background: var(--primaryColor);
    border-color: var(--primaryColorLight);
    box-shadow: none;
  }
}
.ivu-modal-content {
  border-radius: var(--borderRadius);
}
.ivu-modal-body {
  background: #F8FAFB;
}
.ivu-modal-close {
  &:hover {
    background: transparent;
  }
}